@import "compass/reset"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,700)
@import "variables"
@import "typography"

body
  font-size: 62.5%
  font-family: $font
  overflow: hidden

.no-gutter > [class*='col-']
  padding-right: 0
  padding-left: 0
.row-fluid
  padding: 0
  margin: 0

.left-side-holder
  background: url("../img/1.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 540px

.logo
  position: relative
  width: 330px
  height: 330px
  top: 20%
  img
    max-width: 100%

.menu-food
  background: url("../img/2.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  text-align: center
  height: 270px
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-drinks
  background: url("../img/3.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  text-align: center
  height: 270px
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-3
  background: url("../img/4.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  text-align: center
  height: 270px
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.menu-4
  background: url("../img/5.jpg")
  position: relative
  background-position: center center
  background-repeat: no-repeat
  -webkit-background-size: 100% auto
  background-size: 100% auto
  text-align: center
  height: 270px
  cursor: pointer
  transition: background-size 1s ease
  -moz-transition: background-size 1s ease
  -ms-transition: background-size 1s ease
  -o-transition: background-size 1s ease
  -webkit-transition: background-size 1s ease
  &:hover
    -webkit-background-size: 140% auto
    background-size: 140% auto
.content
  padding-top: 20%
  position: relative
  .fa
    font-size: 30px
    color: $base-color
  h3
    padding-top: 2%

.overlay:before
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: block
  z-index: 0
  background-color: rgba(0,0,0,0.4)
.overlay-white:before
  position: absolute
  content: " "
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: block
  z-index: 0
  background-color: rgba(255,255,255,0.5)

[class*='col-']
  padding-right: 0
  padding-left: 0
.place-inner
  position: relative
  padding-top: 22%
.place
  position: relative
  background: url("../img/6.jpg")
  -webkit-background-size: cover
  background-size: cover
  text-align: center
  height: 360px
  .fa
    font-size: 30px
  span
    vertical-align: super
    font-size: 12px

.phone
  position: relative
  background: url("../img/9.jpg")
  -webkit-background-size: cover
  background-size: cover
  height: 360px
.phone-inner
  position: relative
  text-align: center
  padding-top: 22%
  .fa
    color: #ffffff
    font-size: 30px
    text-shadow: 0 1px 3px #000
.mail
  position: relative
  height: 360px
  background: url("../img/8.jpg")
  -webkit-background-size: cover
  background-size: cover
.mail-inner
  position: relative
  text-align: center
  padding-top: 22%
  .fa
    font-size: 30px
    color: #ffffff
    text-shadow: 0 1px 3px #000

footer
  background-color: #222
  p
    font-size: 14px
    padding: .5%
.logo-footer
  width: 70px
  height: 20px
  margin-top: -35px
  margin-right: 10px
  float: right
  img
    max-width: 100%
.border-top
  display: table-cell
  border-top: 1px solid #444

.menu-food-list
  position: absolute
  background-color: #fbfcdc
  width: 50%
  top: 960px
  text-align: center
  .fa
    position: absolute
    font-size: 30px
    right: 3%
    top: 3%
    cursor: pointer

.menu-drinks-list
  position: absolute
  background-color: #fbfcdc
  width: 50%
  top: 960px
  text-align: center
  .fa
    position: absolute
    font-size: 30px
    right: 3%
    top: 3%
    cursor: pointer
.menu-drinks-list-closed, .menu-food-list-closed
  display: none
/*sticky footer*/
html,body
  height: 100%
body
  display: table
  width: 100%
main
  height: 100%
  /*overflow: hidden*/
footer
  display: table-row
  height: 1px




@import "media"