@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* ======= Typography */
/* line 2, ../sass/_typography.sass */
p {
  font-size: 1.4rem;
  line-height: 2.24rem;
  color: #F4F7F0;
  text-shadow: 0 1px 3px #000;
}

/* line 8, ../sass/_typography.sass */
h1 {
  font-size: 4rem;
  color: #F4F7F0;
  text-shadow: 0 1px 3px #000;
}

/* line 13, ../sass/_typography.sass */
h2 {
  font-size: 3.6rem;
  color: #F4F7F0;
  text-shadow: 0 1px 3px #000;
}

/* line 18, ../sass/_typography.sass */
h3 {
  font-size: 2.8rem;
  color: #F4F7F0;
  font-weight: 400;
  text-shadow: 0 1px 3px #000;
}

/* line 24, ../sass/_typography.sass */
h4 {
  font-size: 2.2rem;
  color: #F4F7F0;
  font-weight: 400;
}

/* line 29, ../sass/_typography.sass */
h5 {
  font-size: 1.4rem;
  color: #F4F7F0;
  font-weight: 400;
}

/* line 6, ../sass/style.sass */
body {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
  overflow: hidden;
}

/* line 11, ../sass/style.sass */
.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 14, ../sass/style.sass */
.row-fluid {
  padding: 0;
  margin: 0;
}

/* line 18, ../sass/style.sass */
.left-side-holder {
  background: url("../img/left-side-holder-bg.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 540px;
  text-align: right;
}
/* line 24, ../sass/style.sass */
.left-side-holder h1 {
  padding-top: 20%;
  padding-right: 5%;
  display: inline-block;
}

/* line 28, ../sass/style.sass */
.title {
  position: relative;
}

/* line 31, ../sass/style.sass */
.menu-food, .menu-drinks {
  position: relative;
  background: url("../img/right-block-bg.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: 100%;
  background-size: 100%;
  text-align: center;
  height: 270px;
  cursor: pointer;
  transition: background-size 1s ease;
  -moz-transition: background-size 1s ease;
  -ms-transition: background-size 1s ease;
  -o-transition: background-size 1s ease;
  -webkit-transition: background-size 1s ease;
}
/* line 46, ../sass/style.sass */
.menu-food:hover, .menu-drinks:hover {
  -webkit-background-size: 140%;
  background-size: 140%;
}

/* line 49, ../sass/style.sass */
.content {
  padding-top: 20%;
  position: relative;
}
/* line 52, ../sass/style.sass */
.content .fa {
  font-size: 30px;
  color: #F4F7F0;
  text-shadow: 0 1px 3px #000;
}
/* line 56, ../sass/style.sass */
.content h3 {
  padding-top: 2%;
}

/* line 59, ../sass/style.sass */
.overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

/* line 70, ../sass/style.sass */
[class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

/* line 73, ../sass/style.sass */
.place-inner {
  position: relative;
  padding-top: 22%;
}

/* line 76, ../sass/style.sass */
.place {
  position: relative;
  background: url("../img/place.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  text-align: center;
  height: 360px;
}
/* line 83, ../sass/style.sass */
.place .fa {
  font-size: 30px;
}
/* line 85, ../sass/style.sass */
.place span {
  vertical-align: super;
  font-size: 12px;
}

/* line 89, ../sass/style.sass */
.phone {
  position: relative;
  background: url("../img/phone.jpg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 360px;
}

/* line 95, ../sass/style.sass */
.phone-inner {
  position: relative;
  text-align: center;
  padding-top: 22%;
}
/* line 99, ../sass/style.sass */
.phone-inner .fa {
  color: #ffffff;
  font-size: 30px;
  text-shadow: 0 1px 3px #000;
}

/* line 103, ../sass/style.sass */
.mail {
  position: relative;
  height: 360px;
}

/* line 106, ../sass/style.sass */
.mail-inner {
  position: relative;
  text-align: center;
  padding-top: 22%;
}
/* line 110, ../sass/style.sass */
.mail-inner .fa {
  font-size: 30px;
  color: #ffffff;
  text-shadow: 0 1px 3px #000;
}

/* line 115, ../sass/style.sass */
footer {
  background-color: #222;
}
/* line 117, ../sass/style.sass */
footer p {
  font-size: 14px;
  padding: 0.5%;
}

/* line 120, ../sass/style.sass */
.border-top {
  display: table-cell;
  border-top: 1px solid #444;
}

/* line 124, ../sass/style.sass */
.menu-food-list {
  position: absolute;
  background-color: #fbfcdc;
  width: 50%;
  top: 960px;
  text-align: center;
}
/* line 130, ../sass/style.sass */
.menu-food-list .fa {
  position: absolute;
  font-size: 30px;
  right: 3%;
  top: 3%;
  cursor: pointer;
}

/*sticky footer */
/* line 140, ../sass/style.sass */
html, body {
  height: 100%;
}

/* line 142, ../sass/style.sass */
body {
  display: table;
  width: 100%;
}

/* line 145, ../sass/style.sass */
main {
  height: 100%;
  overflow: hidden;
}

/* line 148, ../sass/style.sass */
footer {
  display: table-row;
  height: 1px;
}

/*==========  Desktop First Method  ========== */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}
/*==========  Mobile First Method  ========== */
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}
/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}
/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */
}
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */
}
